*.pyc
*.pyo
*.swp
*~
*.pkl

*.egg
*.egg-info
dist
/build/
eggs
bin
sdist
_build

.webassets-cache
.DS_Store
*.sublime-*
.cache/

.idea/
\.idea/
.vscode/
/.project

credentials.json
token.json
venv/
env/
.env
.__pycache__

tmp/
log/
